/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @font-face {
   font-family: "Proxima Thin";
   src: url('/assets/fonts/ProximaNovaAltThin.otf') format("truetype");
 }


   html, body, section, input, article, h1, h2, p, input, form,
   button, label {
     margin: 0;
     border: 0;
     padding: 0;
     font: inherit;
     text-align: inherit;
     text-decoration: inherit;
     color: inherit;
     background: transparent;
   }

   h1 {
     font-size: 36px;
     font-weight: bold;
   }

   .background {

   }

   .auth-form {
     border-radius: 4px;
     max-width: 500px;
     background: white;
     margin: 0 auto;
     width: 100%;
     top: 2em;
     display: block;
     opacity: 0.8;
     text-align: center;
     position: relative;
     padding: 24px 18px;
     font-family: "Proxima Thin", Arial, Helvetica, sans-serif;
     line-height: 1.4;

   }

   .auth-form strong {
     cursor: pointer;
   }

   form {
     text-align: left;
     margin: 10px 5px;
   }

   input {
      background-color: white;
      border-radius: 4px;
      width: 100%;
      height: 45px;
      color: #828a8b;
      border: 1px solid #cfd2d3;
      font-size: 1em;
      margin: auto;
      margin: 0px 0px 10px 0px;
      outline: none;
   }

   label {
     text-align: left;
   }
   .auth-form button {
     border-radius: 4px;
     background:white;
     text-align: center;
     padding: 0.5em 1.38em 0.5em;
     font-size: 1.25rem;
     margin: 5px 20px;
     border: 1px solid #1da3bf;
     color: #1da3bf;
   }

   .auth-form button:hover {
     background-color: #1da3bf;
     color: white;
   }

   form button {
      margin: 5px 0px;
   }

   .auth-form button {

   }

   .submit {
     color: white;
     background-color: #1da3bf;
     text-align: center;
     padding: 0.5em 1.38em 0.5em;
     font-size: 1.25rem;
     border: none;
   }

   .submit:hover {
     background-color: #0d7488;
   }

   .background {
     position: fixed;
     display: block;
     background-position: center;
     background-image: image-url('background.png');
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
   }

   /* Landing page stuff */

   body {
     background: #f5f6f6;
     font-family: "Proxima Thin", Arial, Helvetica, sans-serif;
   }

   .header {
     background: white;
     color: #626a6b;
     border-bottom: 1px solid #ebecec;
   }

   nav img {
     float: left;
     max-height: 40px;
     padding: 10px 20px;
   }

   nav button {
     float: right;
     cursor: pointer;
     padding: 20px;

   }

   .main-dash {
     padding: 10px 20px;
     width: 960px;
     margin: auto;
   }

   .group:after {
     content: '';
     display: block;
     clear: both;
   }
