html, body, section, input, article, h1, h2, h3, h4, h5, h6, p, input, form,
button, label, ul, li, br, a{
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  list-style: none;
  color: inherit;
  background: transparent;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}


.auth-form {
  border-radius: 4px;
  max-width: 500px;
  background: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
  width: 100%;
  top: 2em;
  display: block;
  text-align: center;
  position: relative;
  padding: 24px 18px;
  font-family: "Proxima Light", Arial, Helvetica, sans-serif;
  line-height: 1.4;
  color: #323a3b;
}

.auth-form p {
  padding: 10px;
}

.auth-form strong {
  cursor: pointer;
  font-family: "Proxima Regular", Arial, Helvetica, sans-serif;
  color: #1da3bf;
}

form {
  text-align: left;
  margin: 10px 5px;
}

input {
   background: rgba(255, 255, 255, 1);
   box-sizing: border-box;
   border-radius: 4px;
   width: 100%;
   height: 45px;
   padding: 10px 20px;
   color: #828a8b;
   border: 1px solid #cfd2d3;
   font-size: 1em;
   margin: auto;
   margin: 0px 0px 10px 0px;
   outline: none;
}

input:focus {
  border: 2px solid #1da3bf;
}

label {
  color: #323a3b;
  text-align: left;
}

button {
   transition: all 0.3s ease 0s;
}

.auth-form button {
  border-radius: 4px;
  background: rgba(255, 255, 255, 0);
  text-align: center;
  padding: 0.5em 3em 0.5em;
  font-size: 1.25rem;
  margin: 5px 20px;
  border: 1px solid #1da3bf;
  font-family: "Proxima Regular", Arial, Helvetica, sans-serif;
  color: #1da3bf;
}

.oauth {
  margin: 10px 47px;
}

.oauth a {
  color: white;
  border: 1px solid #626a6b;
  border-radius: 4px;
  font-size: 1.25rem;
  font-family: "Proxima Thin", Arial, Helvetica, sans-serif;
  display: block;
}

.oauth .fb {
  background: #3b5998;
  padding: 0.5em 157px 0.5em;

}

.oauth .google {
  background: #d73d32;
  padding: 0.5em 169px 0.5em;
}

.auth-form button:hover {
  background-color: #1da3bf;
  color: white;
  cursor: pointer;
}


button:focus {
  outline: 0;
}

form button {
   margin: 5px 0px;
}


.submit {
  height: 45px;
  color: white;
  background-color: #1da3bf;
  text-align: center;
  padding: 0.5em 1.38em 0.5em;
  font-size: 1.25rem;
  border: none;
  transition: all 0.3s ease 0s;
}

.submit:hover {
  background-color: #0d7488;
  cursor: pointer;
}

.submit:focus {
  border: 1px solid #1da3bf;
  height: 45px;
}

#alert {
   position:fixed;
   color: white;
   text-align: center;
   width: 100%;
   z-index: -10;
   padding: 13px;
   float: none;
   font-family: "Proxima Thin", Arial, Helvetica, sans-serif;
}

#alert.js-alert {
  z-index: 10;
  background-color: rgba(245, 209, 91, 0.8);
  border-bottom: 1px solid #aa6e23;
  transition: all 0.3 ease 0s;
}

.input-alert {
  border: 2px solid #e9714b;
}

.label-alert {
  color: #e9714b;
}
