.stage-header {
    text-align: center;
    background: white
}

.stage-header ul {
  color: #b4b9b9;
  width: 960px;
  margin: auto;

}

.stage-items li {
  float: left;
  padding: 15px 75px;
}

.stage-items > li:nth-child(2) {
  border-left: 1px solid #ebecec;
  border-right: 1px solid #ebecec;
}

.stage-complete {
  color: #00964b;

}

.stage-active {
  color: #00964b;
  font-family: "Proxima Semibold", Arial, Helvetica, sans-serif;

}

.booking-form {
  width: 960px;
  margin: auto;
  padding: 10px 0px;
}

.booking-form .submit {
  margin: auto;
  font-family: "Proxima Thin", Arial, Helvetica, sans-serif;
  font-size: 18px;
  width: auto;
}

.booking-details {
  margin: 0;
}

.booking-details h1 {
  padding: 10px 20px;
}

.booking-details select {
  background: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 45px;
  padding: 10px 20px;
  color: #828a8b;
  border: 1px solid #cfd2d3;
  font-size: 1em;
  margin: auto;
  margin: 0px 0px 10px 0px;
  outline: none;
}

.booking-details select:focus {
  border: 2px solid #1da3bf;
}

.booking-details textarea {
  background: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 200px;
  padding: 10px 20px;
  color: #828a8b;
  border: 1px solid #cfd2d3;
  font-size: 1em;
  margin: auto;
  margin: 0px 0px 10px 0px;
  outline: none;
}

.booking-details textarea:focus {
  border: 2px solid #1da3bf;
}

/*Booking section applies to all stage forms*/

.nudge-down {
  padding-bottom: 20px;
}

.booking-section {
  background: white;
  border-radius: 0%;
  box-shadow: 0px 2px 2px 0px rgba(50,58,59,0.15);
  margin: 10px 20px;
}

.booking-section input {
  display: block;
  margin: 10px 0px;
}

.booking-section label {
  padding: 15px 20px;
  display: block;
}

.booking-section h1 {
  padding: 20px;
}

.booking-section p {
  padding: 10px 20px;
}

.booking-section strong {
  color: #1da3bf;
  font-family: "Proxima Thin", Arial, Helvetica, sans-serif;

}
/* BunnySearchForm */
.container-datetime {
  display: block;
  float: left;
  width: 280px;
}

.datetime {
  float: left;
  position: fixed;
  background: white;
  border-radius: 0%;
  box-shadow: 0px 2px 2px 0px rgba(50,58,59,0.15);
}

.datetime input {
  width: 240px;
  display: block;
  margin: 10px 0px;
}

.datetime label {
  padding: 15px 20px;
  display: block;
}

.bunnies {
  float:right;
  width: 650px;
  position: relative;
  border-top: 1px solid lightgray;
  padding-top: 25px;
}

.bunny {
  background: white;
  border-radius: 0%;
  box-shadow: 0px 2px 2px 0px rgba(50,58,59,0.15);
}

.bunny-media {
  padding: 20px;
  width: 220px;
  float: left;
  text-align: center;
}
.bunny-media img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 4px;
}

.bunny-content {
}

.bunny-show {
  background: lightgray;
  padding: 10px;
  position: absolute;
  top: -20px;
  border-radius: 25px;
  margin: 0px 225px;
}

/* Dashboard display for bookings */

.booking-item {
  background: white;
  border-radius: 0%;
  box-shadow: 0px 2px 2px 0px rgba(50,58,59,0.15);
  margin: 20px 0px;
}


.booking-item-buttons {
  text-align: right;
  float: right;
  font-size: 18px;
  color: #626a6b;
  padding: 10px;
  cursor: pointer;
}
.booking-item-buttons .submit {
  margin-top: 33px;
  border-radius: 4px;

}

.booking-item img {
  padding: 15px;
}

.booking-description {
  float: left;
}

.booking-description h1 {
  padding: 10px 0;
}

.booking-description li {
  font-size: 18px;
}

.booking-description strong {
  color: #1da3bf;
}
