/* Landing page stuff */

body {
  background: #f5f6f6;
  font-family: "Proxima Regular", Arial, Helvetica, sans-serif;
}

.header {
  background: white;
  color: #626a6b;
  border-bottom: 1px solid #ebecec;
}

.header nav {
  width: 1200px;
  margin: auto;
}

nav img {
  float: left;
  max-height: 40px;
  padding: 10px 20px;
}

nav li {
  float: right;
  cursor: pointer;
  padding: 20px 0;
}

nav li button {
  padding: 0 20px;
  cursor: pointer;
}

nav li:not(:first-child) button{
  border-right: 1px solid #cfd2d3;
}


.main-dash {
  padding: 10px 0px;
  width: 960px;
  margin: auto;
  font-family: "Proxima Semibold", Arial, Helvetica, sans-serif;
}

.main-dash img {
  border-radius: 50%;
  height: 90px;
  width: 90px;
  float: left;
  margin-right: 25px;
}

.welcome {
  margin-top: 25px;
}

.group:after {
  content: '';
  display: block;
  clear: both;
}

.getting-started {
  font-family: "Proxima Regular", Arial, Helvetica, sans-serif;
  font-size: 32px;
  padding: 0px 20px;
}

.getting-started h2 {
  font-family: "Proxima Regular", Arial, Helvetica, sans-serif;
  margin: 0px 0px 20px 0px;
}

.getting-started h3 {
  font-family: "Proxima Semibold", Arial, Helvetica, sans-serif;
  color: #00964b;
}

.getting-started p {
  font-family: "Proxima Thin", Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0px 0px 20px 0px;
}


.badge {
  background: #00964b;
  border-radius: 50%;
  float:left;
  padding: 9px 10px;
  color: white;
  font-size: 20px;
  text-align: center;
  width: 20px;
  height: 20px;
  margin: 0px 20px 20px 0px;
}

.button {
  border-radius: 4px;
  background: rgba(255, 255, 255, 0);
  text-align: center;
  padding: 0.5em 3em 0.5em;
  font-size: 1.25rem;
  margin: 20px 0 10px 0;
  border: 1px solid #00964b;
  font-family: "Proxima Regular", Arial, Helvetica, sans-serif;
  color: #00964b;
  z-index: 2;
}

.button:hover {
  background-color: #00964b;
  color: white;
  cursor: pointer;
}

/*Footer styles*/

.footer {
  background: #b4b9b9;
  height: 420px;
  font-family: "Proxima Thin", Arial, Helvetica, sans-serif;
  font-size: 20px;

}

.footer-content {
  width: 1200px;
  margin: auto;
  padding: 35px 0px;
}

.footer-content h3 {
  float: left;
  padding: 0px 20px;
}

.footer-content a {
  color: white;
  padding: 10px 20px;
}

/*Popular room display*/

.room-item {
  text-align: center;
  float: left;
  width: 300px;
  height: 280px;
  background: white;
  border-radius: 0%;
  box-shadow: 0px 2px 2px 0px rgba(50,58,59,0.15);
  margin: 0px 0px 20px 20px;
  font-family: "Proxima Light", Arial, Helvetica, sans-serif;
  position: relative;
  cursor: pointer;
}

.room-item img {
  height: 200px;
  width: 300px;
  border-radius: 0%;
  margin-bottom: 8px;
}

.room-item:before {
  transition: 0.2s;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 80px;
  left: 0;
  background: rgba(0,0,0,0.2);
}

.room-item:hover:before {
  background: none;
}

.room-item h3 {
  color: #1da3bf;
  font-size: 22px;
  font-family: "Proxima Regular", Arial, Helvetica, sans-serif;
}

.room-item p {
  color: #828a8b;
  font-size: 16px;
}

.room-item:hover h3 {
  color: #0d7488;
}

/* React Search */

.react-search {
  float: left;
  width: 700px;
  font-size: 20px;
}
.react-search__input {
  margin-top: 20px;
  margin-bottom: 0px;
  border: transparent;
}

.react-search__input:focus {
  border: transparent;
}

.react-search__menu {
  position: absolute;
  width: 700px;
  z-index: 1;
}

.react-search__menu-item {
  background: #fff;
  padding: 5px 18px;
  box-shadow: 0px 2px 2px 0px rgba(50,58,59,0.15);
}
