/* Review Modal */

.review-form {
  padding: 20px;
}

.review-form .submit {
  font-family: "Proxima Light", Arial, Helvetica, sans-serif;
  border-radius: 4px;
}

.good, .bad {
  font-size: 30px;
  display: block;
  padding: 20px 0;
  cursor: pointer;
}

.good {
  color: green;
}

.bad {
  color: red;
}

.review-form textarea {
  background: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 200px;
  padding: 10px 20px;
  color: #828a8b;
  border: 1px solid #cfd2d3;
  font-size: 1em;
  margin: auto;
  margin: 0px 0px 10px 0px;
  outline: none;
}

/* Confirmation Modals */

.modal-close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 24px;
}
.confirmation {
  text-align: center;
  padding: 30px;
  font-size: 34px;
}

.confirmation button {
  color: white;
  background-color: #1da3bf;
  text-align: center;
  padding: 0.5em 1.38em 0.5em;
  font-size: 1.25rem;
  border: none;
  transition: all 0.3s ease 0s;
  font-family: "Proxima Thin", Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 30px;
  border-radius: 4px;
}

.confirmation button:hover {
  background-color: #0d7488;
  cursor: pointer;
}

/* Bunny reviews modal */

.reviews-modal a {
  font-size: 24px;
  color: #1da3bf;
  padding-left: 18px;
}
